certificates/ca.crt
certificates/ca.key
certificates/pod-01.crt
certificates/pod-01.key
certificates/pod-02.crt
certificates/pod-02.key
mirrors_bpfeb.go
mirrors_bpfeb.o
mirrors_bpfel.go
mirrors_bpfel.o
sidecar/sidecar
dtunnel/dtunnel
